body{
    margin: 0;
    padding: 0;
}
.AppContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
@media (max-width: 768px){
    .AppContainer {
        grid-template-columns: 1fr;
    }
}




